body{
    background-image: url("../img/fundo_bege4.jpg");
    font-size: 20px;
}
.imagem{
    margin: 10px 50px 0px 100px; 
}
.img2{
    margin: 10px 50px 0px 100px;
}
img{
    
    width: 500px;
    height: 200px;
    

}
p{
    text-align: justify;
    margin-top: 20px;
}
button{
    width: 300px;
    height: 30px;
    border: 3px solid rgb(243, 175, 175);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.habitos{
    display: flex;
}
.img9{
    margin: 10px 50px 0px 50px;
}

